@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width:400px){
  .global-search {
    padding: 20px 0;
    text-align:center;
}

body {
    padding-top: 15%;
    padding-bottom: 15px;
    /*background-color: #474e5d;*/
    background-color: white;
  }
  .global-search {
    text-align:center;
    padding:10px;
  }
  .global-search .form-control {
    width:500px;
  }
  .global-search * {
    display:inline-block;
    margin-bottom:0;
  }
}
.logo{
  margin-top:0px;
  font-size: 60px;
  text-transform: uppercase;
  /*font-family: 'Alegreya', serif;*/
  font-weight: bold;
  font-family: Roboto Slab;
  color:black;
}
a#sonotype:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    }

a#sonotype:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.topcorner{
  position:absolute;
  top:2%;
  right:2%;
}

#search-btn{
  background-color: white;
  border: #474e5d;
  /*margin-top: 20px;*/
}

.step-links a{
  color: #4285F4;
}


.git-container {
  /*position: fixed;*/
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 20px;
}

.git-img {
  width: 40px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.git-container:hover .git-img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.git-text {
  opacity: 0;
  line-height: 40px;
  float: left;
  padding-right: 10px;
  display: inline-block;
  -webkit-transition: opacity .2s linear;
          transition: opacity .2s linear;
}

a.git-link, a.git-link:visited, a.git-link:link, a.git-link:hover, a.git-link:hover {
  color: #52616a;
}

.git-container:hover .git-text {
  opacity: 1;
  color:white;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: opacity .2s linear;
          transition: opacity .2s linear;
}

/*********************************************************/

#user-search{
  margin-bottom: 30px;
  font-family: Roboto Slab, sans-serif;
  font-size: 20px;
  color: black;

}
/*.search-result{
  margin-bottom:20px;
  width:;
}*/


.caption{
  font-family: 'Lato', sans-serif;
}

.row{
  width:100%;
  margin-bottom:30px;
}

.search-result{
  width:33.33%;

}
.thumbnail{
  width:100%;
}


.album-covers{
  margin-top: 20px;
}


#annotation_text {
  background-color: lightblue;
  font-weight: 1000;
}


.annotations{
  margin-top: 10px;
  display:none;
}
#random{
  color:white;
}

.btn.artist-btn{
font-family: 'Roboto Slab';
font-size: 13px;
color: #494949 !important;
text-transform: uppercase;
background: #ffffff;
padding: 7px;
border: 2px solid #494949 !important;
border-radius: 2px;
display: inline-block;
margin: 5px;
}

.btn.artist-btn:hover {
color: #ffffff !important;
background: #f6b93b;
/*border-color: #f6b93b !important;*/
transition: all 0.3s ease 0s;
}

.active{
background: #f6b93b !important;

}

#artist_saved {
  display: none;
}

