<html>

    <head>
        <meta charset="UTF-8">
        <title>sonotype</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- <script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script> -->

        <script>
           $( "#start" ).ReadOnly = true;
           $(function() {
              var start = {{date_start|safe}};
              var end = {{date_end|safe}};
              $( "#slider" ).slider({
                 range:true,
                 min: 1985,
                 max: 2019,
                 values: [ start, end ],
                 slide: function( event, ui ) {
                    $( "#start" ).val(ui.values[ 0 ] );
                    $( "#end" ).val(ui.values[ 1 ] );

                 },
                 stop: function(event, ui ) {
                  $( "#go" ).click();
                 }
              });
              $( "#start" ).val( $( "#slider" ).slider( "values", 0 ) );
              $( "#end" ).val( $( "#slider" ).slider( "values", 1 ) );


           });
        </script>

    </head>


    <body>

      <!-- HTML -->

      <!-- <div class="topcorner"> -->
        <!--     <p>Project Name: Song Finder</p> -->
        <!--     <p>Student Name: (James Zhou: jlz44, Tristan Stone: tjs264, Dylan Hecht: dkh55, Yiwen Huang: yw385, Yuhuan Qiu: yq56)</p> -->
        <!-- </div> -->
        <div class="git-container">
          <a href="https://github.com/yuhuanq/cs4300sp2019-sonotype" target="_blank" class="git-link">
            <span class="git-text">Visit us on Github</span>
            <img class="git-img" src="/static/github.png" img="github" />
          </a>
        </div>

        <form class="form-inline global-search">
            <h1 class="logo">
              <a id="sonotype" href="https://sonotype3.herokuapp.com/">sonotype</a>
            </h1>

            <br><br>

            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Songs about [topic]">
            </div>
            <button type="submit" id = "go" class="btn btn-info"> Go! </button>
            <br/>
            <br/>

            <label for = "start">From:</label>
            <input type = "text" id = "start" name = "date-start" placeholder = "1985" readonly
            style = "border:0; color:#b9cd6d; font-weight:bold;">
            <label for = "end">To:</label>
            <input type = "text" id = "end" name = "date-end" placeholder = "2019" readonly
            style = "border:0; color:#b9cd6d; font-weight:bold;">

            <br><br/>
            <div id = "slider" style = "width:500px;"></div>
            {% if data %}
          <br/>
            <br/>
            <!-- Control buttons -->
            <div id="artistFilterContainer">
              Filter artists:
              <button class="btn active"> Show all</button>
              {% set artists = [] %}
              {% set counter = 0 %}
              {% for song in data %}
                {% if (song['artist'] not in artists) %}
                  <button class="btn" type = 'submit' name = 'artist' value = '{{song['artist']}}'> {{song['artist']}}</button>
                  <!-- {{artists.append(song['artist'])}} -->
              {% endif %}
              {% endfor %}
              {% set artists = [] %}
               </div>
            {% endif %}
        </form>



        <!-- generate modals for later use; has to be outside the form; idk screws it up o/w -->
        {% if data %}
            {% for d in data|batch(3) %}
                  {% for song in d%}
                    <!-- Modal -->
                    <div id="modal_{{song['id']}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{song['song']}}</h4>
                          </div>
                          <div class="modal-body">
                            <!-- <p>Some text in the modal.</p> -->
                              {%for annotation in song['annotations']%}
                                  <div class="well" align="left">
                                      <div class="annotation_text"> Song lyric: <br>
                                      {{annotation['lyric']}}</div>
                                        <br>
                                      <div class="annotation_text">Annotation: <br>
                                      {{annotation['text']}}</div>
                                  </div>
                                  <!-- <br><br/> -->
                              {% endfor %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  {% endfor %}
            {% endfor %}
        {% endif %}


        <!-- grid of cards? or thumbnails (cards are only v4)-->
        <form class="form-inline global-search">
        {% if data %}
            <h1 id="user-search">{{output_message}}</h1>
            <br/>
            {% for d in data|batch(3) %}
                <div class="row">
                  {% for song in d%}
                    <!-- <p>{{song}}</p> -->
                      <div  class="col-sm-6 col-md-4 search-result">
                        <div class="thumbnail">
                          <img class= "album-covers" src={{song['image']}} alt="..." height="243" width="200">
                          <div class="caption">
                            <h4>{{song['song']}}</h4>
                            <br/>
                            <br/>
                              Artist: {{song['artist']}}
                            <br/>
                            <br/>
                            <p>
                              Release date: {{song['release_date']}} <br><br/>
                            </p>
                            <br/>
                              Score: {{song['score']}}
                            <br/>
                            <br/>


                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_{{song['id']}}">View</button>

                          </div> <!-- caption -->
                        </div> <!-- thumbnail -->
                      </div> <!-- search result -->
                  {% endfor %}
                </div> <!-- end row -->
            {% endfor %}

          {% elif data is not none %}
            <div class="no-results">
              <p>No results.</p>
            </div>
          {% endif %}
        </form>
    </body>


    <script type="text/javascript">
      var query = {{query|safe}};
      if (query[0]) {
        console.log(query[0]);
        $( "#input").val(query[0]);
      }
    </script>


    <script type="text/javascript">
      //$(function() {
        $(".annotation_text").each( function(idx, el) {
          var str = $(this).text();
          //var arr = ["ribbon in the sky", "ribbon", "sky"];
          var arr = {{query|safe}};

          //for every query word in query
          arr.forEach( function(query_match) {
            var txt = query_match;
            var re = new RegExp("\\b" + txt + "\\b", 'ig'); //regex pattern


            var matches = [];
            while (m = re.exec(str)) {
              matches.push(m[0]);
            }
            var matches_set = new Set(matches);
            matches.forEach(function(element) {
              var re2 = new RegExp(element, 'ig');
              str = str.replace(re2, '<strong>' + element +'</strong>');
            });

            // var re3 = new RegExp("\n", 'ig');
            // str = str.replace(re3, '<br>');

          });
            $(this).html(str);
        });

    </script>


    </script>
    <script type="text/javascript">
                              function toggle_visibility(id) {
                               var e = document.getElementById(id);
                               var t = document.getElementsByClassName("thumbnail");
                               if (e.style.display=='block'){
                                e.style.display='none';
                                // t.style.height=
                               }
                               else

                               e.style.display = 'block';
                                t.style.height="auto"

                              }
    </script>

</html>
