<html>

    <head>
        <meta charset="UTF-8">
        <title>sonotype</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <!-- <script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script> -->

        <script>
           $( "#start" ).ReadOnly = true;
           $(function() {
              $( "#slider" ).slider({
                 range:true,
                 min: 1985,
                 max: 2019,
                 values: [ 1985, 2019 ],
                 slide: function( event, ui ) {
                    $( "#start" ).val(ui.values[ 0 ] );
                    $( "#end" ).val(ui.values[ 1 ] );

                 }
              });
              $( "#start" ).val( $( "#slider" ).slider( "values", 0 ) );
              $( "#end" ).val( $( "#slider" ).slider( "values", 1 ) );


           });
        </script>
    </head>


    <body>

      <!-- HTML -->

      <!-- <div class="topcorner"> -->
        <!--     <p>Project Name: Song Finder</p> -->
        <!--     <p>Student Name: (James Zhou: jlz44, Tristan Stone: tjs264, Dylan Hecht: dkh55, Yiwen Huang: yw385, Yuhuan Qiu: yq56)</p> -->
        <!-- </div> -->
        <div class="git-container">
          <a href="https://github.com/yuhuanq/cs4300sp2019-sonotype" target="_blank" class="git-link">
            <span class="git-text">Visit us on Github</span>
            <img class="git-img" src="/static/github.png" img="github" />
          </a>
        </div>

        <form class="form-inline global-search">
            <h1 class="logo">
              <a id="sonotype" href="https://sonotype.herokuapp.com/">sonotype</a>
            </h1>

            <br><br>

            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Songs about [topic]">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
            <br/>
            <br/>

            <label for = "start">From:</label>
            <input type = "text" id = "start" name = "date-start" placeholder = "1985" readonly
            style = "border:0; color:#b9cd6d; font-weight:bold;">
            <label for = "end">To:</label>
            <input type = "text" id = "end" name = "date-end" placeholder = "2019" readonly
            style = "border:0; color:#b9cd6d; font-weight:bold;">
            <br><br/>
            <div id = "slider" style = "width:500px;"></div>


        </form>





        <!-- grid of cards? or thumbnails (cards are only v4)-->
        <form class="form-inline global-search">
        {% if data %}
            <h1 id="user-search">{{output_message}}</h1>
            <br/>
            {% for d in data|batch(3) %}
                <div class="row">
                  {% for song in d%}
                    <!-- <p>{{song}}</p> -->
                      <div  class="col-sm-6 col-md-4 search-result">


                        <div class="thumbnail">
                          <img class= "album-covers" src={{song['image']}} alt="..." height="243" width="200">
                          <div class="caption">
                          <h4>{{song['song']}}</h4>
                          <br/>
                          <br/>
                            Artist: {{song['artist']}}
                          <br/>
                          <br/>
                            Score: {{song['score']}}
                          <br/>
                          <br/>
                          <button class="btn btn-primary" type="button" onclick="toggle_visibility({{song['id']}});">
                            See more</button>

                          <div class="annotations" id="{{song['id']}}">
                          <p>
                            Release date: {{song['release_date']}} <br><br/>
                          </p>

                          {%for annotation in song['annotations']%}
                          <p>

                          ------------------------------------
                          <br><br/>
                          <div  class = "annotation_text"> Song lyrics: {{annotation['lyric']}} </div>
                          <br><br/>
                          <div  class = "annotation_text"> Annotations: {{annotation['text']}} </div>

                          </p>
                            {% endfor %}
                          </div>

                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                          </div> <!-- end caption -->
                        </div> <!-- end thumbnail -->
                       <!-- end search-result -->
                       </div>


                  {% endfor %}
                </div> <!-- end row -->
            {% endfor %}

          {% elif data is not none %}
            <div class="no-results">
              <p>No results.</p>
            </div>
          {% endif %}
        </form>
    </body>


    <script type="text/javascript">
      //$(function() {
        $(".annotation_text").each( function(idx, el) {
          var str = $(this).text();
          //var arr = ["ribbon in the sky", "ribbon", "sky"];
          var arr = {{query|safe}};
          arr.forEach( function(query_match) {
            console.log(query_match);
            var txt = query_match;
            var re = new RegExp(txt, 'ig');


            var matches = [];
            while (m = re.exec(str)) {
              matches.push(m[0]);
            }
            var matches_set = new Set(matches);
            matches.forEach(function(element) {
              var re2 = new RegExp(element, 'g');
              str = str.replace(re2, '<div class="bold_text">' + element +'</div>');
            });



          });
            $(this).html(str);
            $('.bold_text').css('font-weight','bold');
            $('.bold_text').css('color','#b9cd6d');
        });
        // var str = $(" #annotation_text ").text();
        // var re = new RegExp('record', 'g');


        // str = str.replace(re, '<b>'+ 'record' +'</b>');
        // $(" #annotation_text ").html(str);
        // console.log(str);


      //});
    </script>


    </script>

    <script type="text/javascript">
                              function toggle_visibility(id) {
                               var e = document.getElementById(id);
                               var t = document.getElementsByClassName("thumbnail");
                               if (e.style.display=='block'){
                                e.style.display='none';
                                // t.style.height=
                               }
                               else

                               e.style.display = 'block';
                                t.style.height="auto"

                              }
    </script>

</html>
